/* ===== Estilo geral ===== */
body {
  background-color: #001d2b!important;
  color: #f4f4f4;
  font-family: 'Ruda', sans-serif;
}
@font-face {
  font-family: 'Ruda';
  src: url(fonts/Ruda-VariableFont_wght.ttf) format('truetype');
}

/* HEADER */
.line {
  width: 100%;
  height: 4px;
  background: #005A7F;
  background: linear-gradient(79deg, rgba(0, 90, 127, 1) 0%, rgba(23, 146, 123, 1) 45%, rgba(44, 197, 120, 1) 100%);
}

.a_li_header {
  color: aliceblue !important;
  text-decoration: none;
  /* Tira o sublinhado */
  margin-right: 15px;
  transition: color 0.3s;
}

.a_li_header:hover {
  color: #00ff99 !important;
}

.dropdown-item.a_li_header {
  color: aliceblue !important;
  background-color: transparent !important;
}

.dropdown-item.a_li_header:hover {
  color: #00ff99 !important;
  background-color: rgba(240, 248, 255, 0.404) !important;
  /* leve destaque */
}

.dropmenu-marcas {
  background-color: #092e2b!important;
  border-radius: 15px;
}

.miniverse {
  color: aliceblue;
  font-size: 22px;
  margin-bottom: 5px;
}

/* Hamburguer do menu */
.navbar-toggler {
  border-color: #1cbe7e; /* muda a cor da borda */
  background-color: transparent; 
}

/* Cor dos "risquinhos" do ícone */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*perfil*/

.test:focus {
  border-color: #00ff99 !important;
  box-shadow: #00ff99 !important;
}




/*Opções*/

.form-select{
  align-items: center;
}


.formulario-personalizacao{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.formulario-personalizacao h2 {
  font-size: 4.5vh;
}

.container{
  padding: 60px !important;
}

.mb-4{
  width: 50% !important;
}

.mb-4 label {
  font-family: 'Ruda', sans-serif;
  color: white;
}

p {
  font-family: 'Ruda', sans-serif;
}

button {
  font-family: 'Ruda', sans-serif;
}

h2 {
  font-family: 'Ruda', sans-serif;
}

a {
  font-family: 'Ruda', sans-serif;
}
